<div class="input-group">
    <input type="text" placeholder="Search" class="input form-control">
    <span class="input-group-btn">
        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
    </span>
</div>

<div class="clients-list">
	<div class="full-height-scroll">
	  <div class="table-responsive">
	    <table class="table table-striped table-hover">
	      <tbody id="pets">
	        <%= render partial: 'profiles/pet', collection: @pets %>
	      </tbody>
	    </table>

	    <% if @pets.blank? %>
        <h4>There are no chapters containing the term <%= params[:search] %>.</h4>
      <% end %>

	  </div>
	</div>
</div>