<div class="wrapper wrapper-content">
  <div class="row">
  <div class="col-lg-2 col-lg-offset-1">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Personal settings</h5>
      </div>
      <div class="ibox-content">
        <div class="list-group">
            <%= link_to "Profile", settings_profile_path, class: "list-group-item list-group-item-action #{is_active_controller('profiles')}" %>
          
            <%= link_to "Account", edit_user_registration_path, class: "list-group-item list-group-item-action #{is_active_controller('users/registrations')}" %>
        </div>
      </div>
    </div>
  </div >
  <div class="col-lg-8">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Public profile</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-8">
            <%= render 'form' %>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>