<div class="wrapper wrapper-content">
	<div class="row">
  	<div class="col-lg-10 col-lg-offset-1">
			<div class="ibox float-e-margins">
		    <div class="ibox-title">
		      <h5>Agregar Mascota</h5>
		    </div>
		    <div class="ibox-content">
					<%= render 'form' %>
		    </div>
		  </div>
		</div>
	</div>
</div>