<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type.to_sym) %> alert-dismissable fade in" style="margin-bottom: 0px;">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <%= message %>
  </div>
<% end %>